examples/workflows/example-workflow.json
{
  "name": "EXAMPLE: Linked Airtable Lookup",
  "nodes": [
    {
      "parameters": {},
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "auction_id",
              "type": "string",
              "value": "24-10-onondaga-ny"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "set_sample_id",
      "name": "Set Sample Auction ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appWxxzsTHMY0MZHu",
          "mode": "list",
          "cachedResultName": "Tax Surplus",
          "cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu"
        },
        "table": {
          "__rl": true,
          "value": "tblteK8SeHqZ8xQxV",
          "mode": "list",
          "cachedResultName": "Auctions",
          "cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu/tblteK8SeHqZ8xQxV"
        },
        "filterByFormula": "={Auction} = '{{$json.auction_id}}'",
        "options": {}
      },
      "id": "get_auction",
      "name": "Get Auction Details",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        650,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "KqeYloYYVZeNChgU",
          "name": "Airtable"
        }
      },
      "notes": "Using field names from the Airtable UI for formulas instead of IDs:\n\nAuction - The primary field\nCounty - The county field"
    },
    {
      "parameters": {},
      "id": "debug_auction",
      "name": "Debug Auction",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        850,
        200
      ],
      "notes": "View the auction details retrieved from Airtable"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appWxxzsTHMY0MZHu",
          "mode": "list",
          "cachedResultName": "Tax Surplus",
          "cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu"
        },
        "table": {
          "__rl": true,
          "value": "tblgJ8IbhYrpIqXq4",
          "mode": "list",
          "cachedResultName": "Counties",
          "cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu/tblgJ8IbhYrpIqXq4"
        },
        "id": "={{$node[\"Get Auction Details\"].json.County[0]}}",
        "options": {}
      },
      "id": "get_county",
      "name": "Get County Information",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        850,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "KqeYloYYVZeNChgU",
          "name": "Airtable"
        }
      },
      "notes": "Retrieves county information using the record ID from the linked County field in the Auction table. Using the \"get\" operation because we have the record ID directly."
    },
    {
      "parameters": {},
      "id": "debug_county",
      "name": "Debug County",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1050,
        200
      ],
      "notes": "View the county details retrieved from Airtable"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appWxxzsTHMY0MZHu",
          "mode": "list",
          "cachedResultName": "Tax Surplus",
          "cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu"
        },
        "table": {
          "__rl": true,
          "value": "tbl3tOZ5GZNBr1dV1",
          "mode": "list",
          "cachedResultName": "Auction Systems",
          "cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu/tbl3tOZ5GZNBr1dV1"
        },
        "id": "={{$node[\"Get County Information\"].json[\"Auction System\"][0]}}",
        "options": {}
      },
      "id": "get_system",
      "name": "Get Auction System",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1050,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "KqeYloYYVZeNChgU",
          "name": "Airtable"
        }
      },
      "notes": "Retrieves system information using the record ID from the linked Auction System field in the County record. Using the \"get\" operation because we have the record ID directly."
    },
    {
      "parameters": {},
      "id": "debug_system",
      "name": "Debug System",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1250,
        200
      ],
      "notes": "View the system details retrieved from Airtable"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appWxxzsTHMY0MZHu",
          "mode": "list",
          "cachedResultName": "Tax Surplus",
          "cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu"
        },
        "table": {
          "__rl": true,
          "value": "tblbPBuUHN7xoS1Bx",
          "mode": "list",
          "cachedResultName": "Configurations",
          "cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu/tblbPBuUHN7xoS1Bx"
        },
        "filterByFormula": "={System}='{{$node[\"Get Auction System\"].json.System}}'",
        "options": {}
      },
      "id": "get_config",
      "name": "Get Configuration Values",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1250,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "KqeYloYYVZeNChgU",
          "name": "Airtable"
        }
      },
      "notes": "Retrieves configuration values specific to the current auction system by matching the System field. The results include Name and Value fields that can be used for configuration settings."
    },
    {
      "parameters": {},
      "id": "debug_config",
      "name": "Debug Config",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1450,
        200
      ],
      "notes": "View the configuration values retrieved from Airtable"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Sample Auction ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sample Auction ID": {
      "main": [
        [
          {
            "node": "Get Auction Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Auction Details": {
      "main": [
        [
          {
            "node": "Debug Auction",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get County Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get County Information": {
      "main": [
        [
          {
            "node": "Debug County",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Auction System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Auction System": {
      "main": [
        [
          {
            "node": "Debug System",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Configuration Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Configuration Values": {
      "main": [
        [
          {
            "node": "Debug Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "232ea761-3263-43c2-9e41-166a5c2e5994",
  "meta": {
    "instanceId": "4dba8cd386ae3944b2fc7eaa8a1fd4bf66504415151768c62f3b476b5123f76d"
  },
  "id": "w06fDkAKCltEgSfA",
  "tags": []
}