workflows/processes/foreclosures/enrichWithProperty.json
{
	"name": "PROCESS: Foreclosures - Property Enrichment",
	"nodes": [
		{
			"parameters": {},
			"name": "Start",
			"type": "n8n-nodes-base.manualTrigger",
			"typeVersion": 1,
			"position": [240, 300]
		},
		{
			"parameters": {
				"values": {
					"number": [
						{
							"name": "batchSize",
							"value": 5
						}
					],
					"string": [
						{
							"name": "defaultSwis",
							"value": "106"
						}
					]
				}
			},
			"name": "Config",
			"type": "n8n-nodes-base.set",
			"typeVersion": 2,
			"position": [400, 300]
		},
		{
			"parameters": {
				"operation": "list",
				"application": "appLrwpgvmWVG89FF",
				"table": "tblvFgxDUo0OYjGaW",
				"options": {
					"filterByFormula": "AND(Property_Owner = \"\", Status_Code < 3)"
				},
				"additionalOptions": {},
				"splitIntoItems": true
			},
			"name": "Get Foreclosures",
			"type": "n8n-nodes-base.airtable",
			"typeVersion": 1,
			"position": [560, 300],
			"credentials": {
				"airtableApi": {
					"id": "13",
					"name": "Airtable account"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "// Get all records from input\nconst records = $input.all().map(i => i.json);\nconst batchSize = $node[\"Config\"].json.batchSize;\n\n// Create batches\nconst batches = [];\nfor (let i = 0; i < records.length; i += batchSize) {\n  batches.push(records.slice(i, i + batchSize));\n}\n\n// Return first batch for now\nreturn [\n  {\n    batch: 1,\n    totalBatches: batches.length,\n    totalRecords: records.length,\n    records: batches[0] || [],\n    recordCount: (batches[0] || []).length\n  }\n];"
			},
			"name": "Prepare Batch",
			"type": "n8n-nodes-base.code",
			"typeVersion": 1,
			"position": [720, 300]
		},
		{
			"parameters": {
				"operation": "initBrowser",
				"browserOptions": {
					"headless": false,
					"stealth": true,
					"browserArgs": "--no-sandbox, --disable-setuid-sandbox, --disable-dev-shm-usage, --disable-accelerated-2d-canvas, --disable-gpu",
					"viewport": {
						"width": 1280,
						"height": 800
					}
				}
			},
			"name": "Initialize Browser",
			"type": "n8n-nodes-puppeteer.puppeteer",
			"typeVersion": 1,
			"position": [880, 300]
		},
		{
			"parameters": {
				"jsCode": "// Process each record\nconst batch = $input.item.json;\nconst browserInstance = batch.browserInstance;\nconst defaultSwis = $node[\"Config\"].json.defaultSwis;\n\n// Prepare to collect enriched records\nconst records = [];\n\nfor (const record of batch.records) {\n  // Skip records without SBL\n  if (!record.fields.SBL) {\n    records.push({\n      id: record.id,\n      fields: {\n        ...record.fields,\n        Property_Error: \"Missing SBL\"\n      }\n    });\n    continue;\n  }\n\n  // For now, just pass through and mark as processed\n  // In the real workflow this would do the actual property lookup\n  records.push({\n    id: record.id,\n    fields: {\n      ...record.fields,\n      Processing_Status: \"Ready for property lookup\"\n    }\n  });\n}\n\nreturn [\n  {\n    ...batch,\n    enrichedRecords: records,\n    message: \"Records prepared for property lookup\"\n  }\n];"
			},
			"name": "Process Records",
			"type": "n8n-nodes-base.code",
			"typeVersion": 1,
			"position": [1040, 300]
		},
		{
			"parameters": {
				"operation": "goto",
				"browserInstance": "={{ $node[\"Initialize Browser\"].json[\"browserInstance\"] }}",
				"url": "http://imo.ulstercountyny.gov/index.aspx",
				"options": {
					"waitUntil": "networkidle2",
					"timeout": 30000
				}
			},
			"name": "Navigate to Ulster IMO",
			"type": "n8n-nodes-puppeteer.puppeteer",
			"typeVersion": 1,
			"position": [1040, 160]
		},
		{
			"parameters": {
				"operation": "evaluate",
				"browserInstance": "={{ $node[\"Navigate to Ulster IMO\"].json[\"browserInstance\"] }}",
				"payload": "document.title"
			},
			"name": "Check Page Loaded",
			"type": "n8n-nodes-puppeteer.puppeteer",
			"typeVersion": 1,
			"position": [1200, 160]
		},
		{
			"parameters": {
				"jsCode": "// Get the input items\nconst batch = $input.item.json;\nconst records = batch.enrichedRecords;\n\n// Since we have one input item with all records\nconst output = [];\nfor (const record of records) {\n  output.push({\n    json: record\n  });\n}\n\n// Return as separate items\nreturn output;"
			},
			"name": "Split Records",
			"type": "n8n-nodes-base.code",
			"typeVersion": 1,
			"position": [1200, 300]
		},
		{
			"parameters": {
				"operation": "update",
				"application": "appLrwpgvmWVG89FF",
				"table": "tblvFgxDUo0OYjGaW",
				"additionalOptions": {}
			},
			"name": "Update Airtable",
			"type": "n8n-nodes-base.airtable",
			"typeVersion": 1,
			"position": [1360, 300],
			"credentials": {
				"airtableApi": {
					"id": "13",
					"name": "Airtable account"
				}
			}
		},
		{
			"parameters": {
				"operation": "closeBrowser",
				"browserInstance": "={{ $node[\"Check Page Loaded\"].json[\"browserInstance\"] }}"
			},
			"name": "Close Browser",
			"type": "n8n-nodes-puppeteer.puppeteer",
			"typeVersion": 1,
			"position": [1520, 300]
		}
	],
	"connections": {
		"Start": {
			"main": [
				[
					{
						"node": "Config",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Config": {
			"main": [
				[
					{
						"node": "Get Foreclosures",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get Foreclosures": {
			"main": [
				[
					{
						"node": "Prepare Batch",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Prepare Batch": {
			"main": [
				[
					{
						"node": "Initialize Browser",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Initialize Browser": {
			"main": [
				[
					{
						"node": "Navigate to Ulster IMO",
						"type": "main",
						"index": 0
					},
					{
						"node": "Process Records",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Process Records": {
			"main": [
				[
					{
						"node": "Split Records",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Navigate to Ulster IMO": {
			"main": [
				[
					{
						"node": "Check Page Loaded",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Split Records": {
			"main": [
				[
					{
						"node": "Update Airtable",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Update Airtable": {
			"main": [
				[
					{
						"node": "Close Browser",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"pinData": {},
	"settings": {
		"executionOrder": "v1"
	},
	"tags": []
}
