workflows/processes/foreclosures/enrichWithProperty.json
{
	"name": "PROCESS: Foreclosures - Property Enrichment",
	"nodes": [
		{
			"parameters": {},
			"name": "Start",
			"type": "n8n-nodes-base.manualTrigger",
			"typeVersion": 1,
			"position": [240, 300]
		},
		{
			"parameters": {
				"values": {
					"number": [
						{
							"name": "batchSize",
							"value": 5
						}
					],
					"string": [
						{
							"name": "defaultSwis",
							"value": "106"
						},
						{
							"name": "browserlessUrl",
							"value": "http://localhost:3000"
						}
					]
				}
			},
			"name": "Config",
			"type": "n8n-nodes-base.set",
			"typeVersion": 2,
			"position": [400, 300]
		},
		{
			"parameters": {
				"operation": "list",
				"application": "appLrwpgvmWVG89FF",
				"table": "tblvFgxDUo0OYjGaW",
				"options": {
					"filterByFormula": "AND(Property_Owner = \"\", Status_Code < 3)"
				},
				"additionalOptions": {},
				"splitIntoItems": true
			},
			"name": "Get Foreclosures",
			"type": "n8n-nodes-base.airtable",
			"typeVersion": 1,
			"position": [560, 300],
			"credentials": {
				"airtableApi": {
					"id": "13",
					"name": "Airtable account"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "// Get all records from input\nconst records = $input.all().map(i => i.json);\nconst batchSize = $node[\"Config\"].json.batchSize;\n\n// Create batches\nconst batches = [];\nfor (let i = 0; i < records.length; i += batchSize) {\n  batches.push(records.slice(i, i + batchSize));\n}\n\n// Return first batch for now\nreturn [\n  {\n    batch: 1,\n    totalBatches: batches.length,\n    totalRecords: records.length,\n    records: batches[0] || [],\n    recordCount: (batches[0] || []).length\n  }\n];"
			},
			"name": "Prepare Batch",
			"type": "n8n-nodes-base.code",
			"typeVersion": 1,
			"position": [720, 300]
		},
		{
			"parameters": {
				"jsCode": "// Process each record\nconst batch = $input.item.json;\nconst defaultSwis = $node[\"Config\"].json.defaultSwis;\n\n// Return the batch - this will be processed by the following nodes\nreturn [\n  {\n    ...batch,\n    message: \"Ready to process records\"\n  }\n];"
			},
			"name": "Process Batch",
			"type": "n8n-nodes-base.code",
			"typeVersion": 1,
			"position": [880, 300]
		},
		{
			"parameters": {
				"keepOnlySet": true,
				"values": {
					"string": [
						{
							"name": "currentSBL",
							"value": "={{ $node[\"Get Current Record\"].json[\"fields\"][\"SBL\"] }}"
						},
						{
							"name": "currentId",
							"value": "={{ $node[\"Get Current Record\"].json[\"id\"] }}"
						}
					]
				},
				"options": {}
			},
			"name": "Set Record Info",
			"type": "n8n-nodes-base.set",
			"typeVersion": 2,
			"position": [1200, 300]
		},
		{
			"parameters": {
				"operation": "execute",
				"url": "http://imo.ulstercountyny.gov/index.aspx",
				"functionCode": "// Function to extract property information using the provided SBL\nasync function getPropertyInfo(sbl) {\n  // Navigate to the Ulster County property site\n  await page.goto(url, { waitUntil: 'networkidle2', timeout: 60000 });\n  \n  // Log navigation status\n  console.log('Navigated to property site:', url);\n  \n  // Check for the public access link and click it if found\n  try {\n    const publicAccessLink = await page.waitForSelector('a:contains(\"Click Here for Public Access\")', { timeout: 5000 });\n    await publicAccessLink.click();\n    await page.waitForNavigation({ waitUntil: 'networkidle2' });\n    console.log('Clicked public access link');\n  } catch (e) {\n    console.log('Public access link not found, continuing...');\n  }\n  \n  // Check for and accept the agreement if present\n  try {\n    const agreeButton = await page.waitForSelector('input[value=\"I Agree\"]', { timeout: 5000 });\n    await agreeButton.click();\n    await page.waitForNavigation({ waitUntil: 'networkidle2' });\n    console.log('Clicked agreement button');\n  } catch (e) {\n    console.log('Agreement button not found, continuing...');\n  }\n  \n  // Parse the SBL into components\n  const sblParts = sbl.split('-');\n  if (sblParts.length !== 4) {\n    throw new Error(`Invalid SBL format: ${sbl}. Expected format: XXX-X-XX-XXX`);\n  }\n  \n  console.log('Processing SBL:', sbl, 'with parts:', sblParts);\n  \n  // Select Ulster municipality (106 = Kingston)\n  await page.select('select[name=\"selectmun\"]', '106');\n  console.log('Selected municipality');\n  \n  // Fill in SBL fields\n  await page.type('input[name=\"swis\"]', sblParts[0]);\n  await page.type('input[name=\"section\"]', sblParts[1]);\n  await page.type('input[name=\"block\"]', sblParts[2]);\n  await page.type('input[name=\"lot\"]', sblParts[3]);\n  console.log('Filled SBL fields');\n  \n  // Take screenshot of the search form\n  const searchFormScreenshot = await page.screenshot({ type: 'png', encoding: 'base64' });\n  \n  // Click search button\n  const searchButton = await page.waitForSelector('input[value=\"Search\"]');\n  await searchButton.click();\n  await page.waitForNavigation({ waitUntil: 'networkidle2' });\n  console.log('Clicked search button');\n  \n  // Check if we got results\n  const noResults = await page.evaluate(() => {\n    return document.body.innerText.includes('No records found');\n  });\n  \n  if (noResults) {\n    return {\n      success: false,\n      error: `No property found for SBL: ${sbl}`,\n      searchFormScreenshot: searchFormScreenshot\n    };\n  }\n  \n  // Click on the first result link\n  try {\n    const resultLink = await page.waitForSelector('a[href*=\"parcelinfopage\"]', { timeout: 10000 });\n    await resultLink.click();\n    await page.waitForNavigation({ waitUntil: 'networkidle2' });\n    console.log('Clicked on result link');\n  } catch (e) {\n    return {\n      success: false,\n      error: `Could not find property link for SBL: ${sbl}`,\n      searchFormScreenshot: searchFormScreenshot\n    };\n  }\n  \n  // Extract property information\n  const propertyInfo = await page.evaluate(() => {\n    const extractText = (label) => {\n      const tdElements = [...document.querySelectorAll('td')];\n      const labelCell = tdElements.find(el => el.innerText.includes(label));\n      if (labelCell && labelCell.nextElementSibling) {\n        return labelCell.nextElementSibling.innerText.trim();\n      }\n      return '';\n    };\n    \n    return {\n      owner: extractText('Primary Owner'),\n      address: extractText('Location'),\n      propertyClass: extractText('Property Class'),\n      assessedValue: extractText('Assessed Value'),\n      taxableValue: extractText('Taxable Value'),\n      acreage: extractText('Acres'),\n      yearBuilt: extractText('Year Built')\n    };\n  });\n  \n  // Take screenshot of results page\n  const resultsScreenshot = await page.screenshot({ type: 'png', encoding: 'base64' });\n  \n  return {\n    success: true,\n    propertyInfo: propertyInfo,\n    searchFormScreenshot: searchFormScreenshot,\n    resultsScreenshot: resultsScreenshot\n  };\n}\n\n// Get the SBL from input\nconst sbl = \"{{$node[\\\"Set Record Info\\\"].json[\\\"currentSBL\\\"]}}\";\n\n// Run the property info extraction\nreturn await getPropertyInfo(sbl);",
				"options": {
					"stealth": true,
					"headless": false
				}
			},
			"name": "Extract Property Info",
			"type": "n8n-nodes-browserless.browserless",
			"typeVersion": 1,
			"position": [1360, 300],
			"credentials": {
				"browserlessApi": {
					"id": "browserlessApi",
					"name": "Browserless account"
				}
			}
		},
		{
			"parameters": {
				"dataType": "string",
				"value1": "={{ $node[\"Extract Property Info\"].json[\"success\"] }}",
				"rules": {
					"rules": [
						{
							"value2": true
						}
					]
				}
			},
			"name": "Success or Error?",
			"type": "n8n-nodes-base.switch",
			"typeVersion": 1,
			"position": [1520, 300]
		},
		{
			"parameters": {
				"operation": "update",
				"application": "appLrwpgvmWVG89FF",
				"table": "tblvFgxDUo0OYjGaW",
				"id": "={{ $node[\"Set Record Info\"].json[\"currentId\"] }}",
				"options": {}
			},
			"name": "Update Success",
			"type": "n8n-nodes-base.airtable",
			"typeVersion": 1,
			"position": [1720, 200],
			"credentials": {
				"airtableApi": {
					"id": "13",
					"name": "Airtable account"
				}
			}
		},
		{
			"parameters": {
				"operation": "update",
				"application": "appLrwpgvmWVG89FF",
				"table": "tblvFgxDUo0OYjGaW",
				"id": "={{ $node[\"Set Record Info\"].json[\"currentId\"] }}",
				"options": {}
			},
			"name": "Update Error",
			"type": "n8n-nodes-base.airtable",
			"typeVersion": 1,
			"position": [1720, 400],
			"credentials": {
				"airtableApi": {
					"id": "13",
					"name": "Airtable account"
				}
			}
		},
		{
			"parameters": {
				"batchSize": 1,
				"options": {}
			},
			"name": "Split Into Individual Records",
			"type": "n8n-nodes-base.splitInBatches",
			"typeVersion": 2,
			"position": [880, 160]
		},
		{
			"parameters": {
				"jsCode": "// Get the first record from the batch\nreturn $input.item.json.records[0];"
			},
			"name": "Get Current Record",
			"type": "n8n-nodes-base.code",
			"typeVersion": 1,
			"position": [1040, 160]
		}
	],
	"connections": {
		"Start": {
			"main": [
				[
					{
						"node": "Config",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Config": {
			"main": [
				[
					{
						"node": "Get Foreclosures",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get Foreclosures": {
			"main": [
				[
					{
						"node": "Prepare Batch",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Prepare Batch": {
			"main": [
				[
					{
						"node": "Process Batch",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Process Batch": {
			"main": [
				[
					{
						"node": "Split Into Individual Records",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Set Record Info": {
			"main": [
				[
					{
						"node": "Extract Property Info",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Extract Property Info": {
			"main": [
				[
					{
						"node": "Success or Error?",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Success or Error?": {
			"main": [
				[
					{
						"node": "Update Success",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Update Error",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Split Into Individual Records": {
			"main": [
				[
					{
						"node": "Get Current Record",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get Current Record": {
			"main": [
				[
					{
						"node": "Set Record Info",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"pinData": {},
	"settings": {
		"executionOrder": "v1"
	},
	"tags": []
}
