workflows/processes/foreclosures/localTestPuppeteerBrowser.json
{
	"name": "LOCAL TEST: Puppeteer Visible Browser",
	"nodes": [
		{
			"parameters": {},
			"name": "Start",
			"type": "n8n-nodes-base.manualTrigger",
			"typeVersion": 1,
			"position": [240, 300]
		},
		{
			"parameters": {
				"values": {
					"string": [
						{
							"name": "seleniumUrl",
							"value": "http://127.0.0.1:4444/wd/hub"
						},
						{
							"name": "testUrl",
							"value": "http://imo.ulstercountyny.gov/index.aspx"
						}
					]
				},
				"options": {}
			},
			"name": "Config",
			"type": "n8n-nodes-base.set",
			"typeVersion": 2,
			"position": [460, 300]
		},
		{
			"parameters": {
				"jsCode": "// Get the configuration\nconst seleniumUrl = $input.item.json.seleniumUrl;\nconst testUrl = $input.item.json.testUrl;\n\n// This is a placeholder for actual Selenium WebDriver code\n// In n8n, we would normally use the Puppeteer node, but since we're\n// having connection issues, let's create a simple code node for now\n\nreturn [\n  {\n    success: true,\n    message: 'To access the browser, please open this URL in your browser:',\n    browserLink: 'http://127.0.0.1:7900/?autoconnect=1&resize=scale&password=secret'\n  }\n];"
			},
			"name": "Browser Instructions",
			"type": "n8n-nodes-base.code",
			"typeVersion": 1,
			"position": [660, 300]
		}
	],
	"connections": {
		"Start": {
			"main": [
				[
					{
						"node": "Config",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Config": {
			"main": [
				[
					{
						"node": "Browser Instructions",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"pinData": {},
	"settings": {
		"executionOrder": "v1"
	},
	"tags": []
}
