workflows/processes/foreclosures/remoteEnrichWithProperty.json
{
	"name": "PROCESS: Foreclosures - Remote Property Enrichment",
	"nodes": [
		{
			"parameters": {},
			"name": "Start",
			"type": "n8n-nodes-base.manualTrigger",
			"typeVersion": 1,
			"position": [240, 300]
		},
		{
			"parameters": {
				"values": {
					"string": [
						{
							"name": "browserWSEndpoint",
							"value": "wss://browserless-production-2a8f.up.railway.app?token=8laRXWn6OtaJL51zdKbrfbeERbrwWh41m6YhzSJRfkuiLmh1"
						},
						{
							"name": "baseURL",
							"value": "http://imo.ulstercountyny.gov/index.aspx"
						},
						{
							"name": "batchSize",
							"value": 3
						}
					]
				},
				"options": {}
			},
			"name": "Configuration",
			"type": "n8n-nodes-base.set",
			"typeVersion": 2,
			"position": [460, 300]
		},
		{
			"parameters": {
				"operation": "search",
				"base": {
					"__rl": true,
					"value": "appZMhZh6hDrzAnuV",
					"mode": "list",
					"cachedResultName": "Tax Surplus Test"
				},
				"table": {
					"__rl": true,
					"value": "tblhq8mn3e6u4Ta39",
					"mode": "list",
					"cachedResultName": "Foreclosures"
				},
				"filterByFormula": "AND({Auction} = \"17-ulster-ny\", {SBL} != \"\", {Property} = \"\")",
				"limit": "={{ $node[\"Configuration\"].json.batchSize }}"
			},
			"name": "Get Foreclosures",
			"type": "n8n-nodes-base.airtable",
			"typeVersion": 2,
			"position": [680, 300],
			"credentials": {
				"airtableTokenApi": {
					"id": "1",
					"name": "Airtable"
				}
			}
		},
		{
			"parameters": {
				"batchSize": 1,
				"options": {}
			},
			"name": "Process Each Record",
			"type": "n8n-nodes-base.splitInBatches",
			"typeVersion": 2,
			"position": [900, 300]
		},
		{
			"parameters": {
				"operation": "runCustomScript",
				"url": "={{ $node[\"Configuration\"].json.baseURL }}",
				"functionCode": "// Get the current foreclosure record\nconst foreclosure = $input.item;\nconst sbl = foreclosure.fields.SBL;\n\n// Log processing info\nconsole.log(`Processing SBL: ${sbl}`);\n\n// Navigate to the property search page\nawait $page.goto($node[\"Configuration\"].json.baseURL, { waitUntil: 'networkidle0', timeout: 30000 });\n\n// Click the Public Access button if it exists\ntry {\n  const publicAccessButton = await $page.waitForSelector('a:has-text(\"Click Here for Public Access\")', { timeout: 5000 });\n  if (publicAccessButton) {\n    console.log('Clicking Public Access button...');\n    await publicAccessButton.click();\n    await $page.waitForNavigation({ waitUntil: 'networkidle0' });\n  }\n} catch (error) {\n  console.log('No Public Access button found or error clicking it:', error.message);\n}\n\n// Check if agreement overlay appears and click \"agree\" if it does\ntry {\n  const agreeButton = await $page.waitForSelector('input[value=\"I Agree\"]', { timeout: 5000 });\n  if (agreeButton) {\n    console.log('Clicking agree button...');\n    await agreeButton.click();\n    await $page.waitForNavigation({ waitUntil: 'networkidle0' });\n  }\n} catch (error) {\n  console.log('No agreement dialog found or error clicking it:', error.message);\n}\n\n// Wait for the search form to load\ntry {\n  await $page.waitForSelector('select[name=\"selectmun\"]', { timeout: 10000 });\n} catch (error) {\n  console.log('Search form not found:', error.message);\n  // Take a screenshot to see what went wrong\n  const errorScreenshot = await $page.screenshot({ type: 'png', encoding: 'base64' });\n  return [\n    {\n      ...foreclosure,\n      error: `Search form not found: ${error.message}`,\n      binary: {\n        errorScreenshot: {\n          data: errorScreenshot,\n          mimeType: 'image/png',\n          fileName: `error_${sbl}.png`\n        }\n      }\n    }\n  ];\n}\n\n// Get SBL parts\nlet sblParts = sbl.split('-');\nif (sblParts.length !== 4) {\n  return [\n    {\n      ...foreclosure,\n      error: `Invalid SBL format: ${sbl}. Expected format: XXX-X-XX-XXX`\n    }\n  ];\n}\n\n// Select Ulster municipality (106 = Ulster)\ntry {\n  await $page.select('select[name=\"selectmun\"]', '106');\n} catch (error) {\n  console.log('Error selecting municipality:', error.message);\n}\n\n// Fill in SBL parts\nawait $page.type('input[name=\"swis\"]', sblParts[0]);\nawait $page.type('input[name=\"section\"]', sblParts[1]);\nawait $page.type('input[name=\"block\"]', sblParts[2]);\nawait $page.type('input[name=\"lot\"]', sblParts[3]);\n\n// Click search button\nconst searchButton = await $page.waitForSelector('input[value=\"Search\"]');\nawait searchButton.click();\n\n// Wait for results\nawait $page.waitForNavigation({ waitUntil: 'networkidle0' });\n\n// Check if we have results\nconst noResultsText = await $page.evaluate(() => {\n  const elem = document.querySelector('body');\n  return elem ? elem.innerText.includes('No records found') : false;\n});\n\nif (noResultsText) {\n  return [\n    {\n      ...foreclosure,\n      error: `No property found for SBL: ${sbl}`\n    }\n  ];\n}\n\n// Click on the first result if available\nconst firstResultLink = await $page.$('a[href*=\"infopage.jsp\"]');\nif (!firstResultLink) {\n  return [\n    {\n      ...foreclosure,\n      error: `No property link found for SBL: ${sbl}`\n    }\n  ];\n}\n\nawait firstResultLink.click();\nawait $page.waitForNavigation({ waitUntil: 'networkidle0' });\n\n// Extract property information\nconst propertyInfo = await $page.evaluate(() => {\n  const getData = (label) => {\n    const labelElement = Array.from(document.querySelectorAll('td')).find(el => el.innerText.includes(label));\n    if (labelElement) {\n      const valueElement = labelElement.nextElementSibling;\n      return valueElement ? valueElement.innerText.trim() : '';\n    }\n    return '';\n  };\n\n  return {\n    owner: getData('Primary Owner:'),\n    propertyAddress: getData('Location:'),\n    propertyClass: getData('Property Class:'),\n    assessedValue: getData('Assessed Value:'),\n    taxableValue: getData('Taxable Value:'),\n    acreage: getData('Acres:'),\n    yearBuilt: getData('Year Built:')\n  };\n});\n\n// Take a screenshot for verification\nconst screenshot = await $page.screenshot({ type: 'png', encoding: 'base64' });\n\n// Return the enriched foreclosure data\nreturn [\n  {\n    ...foreclosure,\n    propertyInfo,\n    binary: {\n      screenshot: {\n        data: screenshot,\n        mimeType: 'image/png',\n        fileName: `property_${sbl}.png`\n      }\n    }\n  }\n];",
				"options": {
					"browserWSEndpoint": "={{ $node[\"Configuration\"].json.browserWSEndpoint }}",
					"timeout": 60000,
					"waitUntil": "networkidle0"
				}
			},
			"name": "Extract Property Info",
			"type": "n8n-nodes-puppeteer.puppeteer",
			"typeVersion": 1,
			"position": [1120, 300]
		},
		{
			"parameters": {
				"operation": "update",
				"base": {
					"__rl": true,
					"value": "appZMhZh6hDrzAnuV",
					"mode": "list",
					"cachedResultName": "Tax Surplus Test"
				},
				"table": {
					"__rl": true,
					"value": "tblhq8mn3e6u4Ta39",
					"mode": "list",
					"cachedResultName": "Foreclosures"
				},
				"id": "={{ $json.id }}",
				"updateFields": {
					"values": {
						"Owner": "={{ $json.propertyInfo.owner || '' }}",
						"Property": "={{ $json.propertyInfo.propertyAddress || '' }}",
						"Property Class": "={{ $json.propertyInfo.propertyClass || '' }}",
						"Assessed Value": "={{ $json.propertyInfo.assessedValue || '' }}",
						"Taxable Value": "={{ $json.propertyInfo.taxableValue || '' }}",
						"Acreage": "={{ $json.propertyInfo.acreage || '' }}",
						"Year Built": "={{ $json.propertyInfo.yearBuilt || '' }}",
						"Property Error": "={{ $json.error || '' }}",
						"Last Updated": "={{ $now }}"
					}
				}
			},
			"name": "Update Airtable",
			"type": "n8n-nodes-base.airtable",
			"typeVersion": 2,
			"position": [1340, 300],
			"credentials": {
				"airtableTokenApi": {
					"id": "1",
					"name": "Airtable"
				}
			}
		}
	],
	"connections": {
		"Start": {
			"main": [
				[
					{
						"node": "Configuration",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Configuration": {
			"main": [
				[
					{
						"node": "Get Foreclosures",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get Foreclosures": {
			"main": [
				[
					{
						"node": "Process Each Record",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Process Each Record": {
			"main": [
				[
					{
						"node": "Extract Property Info",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Extract Property Info": {
			"main": [
				[
					{
						"node": "Update Airtable",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"settings": {
		"executionOrder": "v1"
	},
	"tags": []
}
