tests/mcp/airtable/airtable-field-name-test-workflow.json
{
  "name": "Airtable Filter Formula Test",
  "nodes": [
    {
      "parameters": {},
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "include": "all",
        "assignments": {
          "assignments": [
            {
              "name": "auction_id",
              "type": "string",
              "value": "24-10-onondaga-ny"
            }
          ]
        }
      },
      "id": "set_sample_id",
      "name": "Set Sample Auction ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "search",
        "application": "airtable",
        "base": {
          "__rl": true,
          "value": "appAFwvoSRiOQc2pP",
          "mode": "list",
          "cachedResultName": "Tax Surplus",
          "cachedResultUrl": "https://airtable.com/appAFwvoSRiOQc2pP"
        },
        "table": {
          "__rl": true,
          "value": "tblvlBDwuCE7CmThU",
          "mode": "list",
          "cachedResultName": "Auctions",
          "cachedResultUrl": "https://airtable.com/appAFwvoSRiOQc2pP/tblvlBDwuCE7CmThU"
        },
        "filterByFormula": "{Auction} = '24-10-onondaga-ny'",
        "options": {}
      },
      "id": "test_1_fixed",
      "name": "Test 1: Fixed Value",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        650,
        200
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "KqeYloYYVZeNChgU",
          "name": "Airtable"
        }
      },
      "notes": "Using a fixed value directly - NOT using expression mode"
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "search",
        "application": "airtable",
        "base": {
          "__rl": true,
          "value": "appAFwvoSRiOQc2pP",
          "mode": "list",
          "cachedResultName": "Tax Surplus",
          "cachedResultUrl": "https://airtable.com/appAFwvoSRiOQc2pP"
        },
        "table": {
          "__rl": true,
          "value": "tblvlBDwuCE7CmThU",
          "mode": "list",
          "cachedResultName": "Auctions",
          "cachedResultUrl": "https://airtable.com/appAFwvoSRiOQc2pP/tblvlBDwuCE7CmThU"
        },
        "filterByFormula": "={Auction} = '{{$json.auction_id}}'",
        "options": {}
      },
      "id": "test_2_expression",
      "name": "Test 2: Expression with Field Name",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        650,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "KqeYloYYVZeNChgU",
          "name": "Airtable"
        }
      },
      "notes": "Using an expression with field name and dynamic value\nNote the \"=\" prefix to force expression mode"
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "search",
        "application": "airtable",
        "base": {
          "__rl": true,
          "value": "appAFwvoSRiOQc2pP",
          "mode": "list",
          "cachedResultName": "Tax Surplus",
          "cachedResultUrl": "https://airtable.com/appAFwvoSRiOQc2pP"
        },
        "table": {
          "__rl": true,
          "value": "tblvlBDwuCE7CmThU",
          "mode": "list",
          "cachedResultName": "Auctions",
          "cachedResultUrl": "https://airtable.com/appAFwvoSRiOQc2pP/tblvlBDwuCE7CmThU"
        },
        "filterByFormula": "={fldvL5TXKDTOmYiPB} = '{{$json.auction_id}}'",
        "options": {}
      },
      "id": "test_3_field_id",
      "name": "Test 3: Field ID (Doesn't Work)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        850,
        200
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "KqeYloYYVZeNChgU",
          "name": "Airtable"
        }
      },
      "notes": "Using field ID in formula - This DOES NOT work in Airtable\nNote the \"=\" prefix to force expression mode"
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "search",
        "application": "airtable",
        "base": {
          "__rl": true,
          "value": "appAFwvoSRiOQc2pP",
          "mode": "list",
          "cachedResultName": "Tax Surplus",
          "cachedResultUrl": "https://airtable.com/appAFwvoSRiOQc2pP"
        },
        "table": {
          "__rl": true,
          "value": "tblvlBDwuCE7CmThU",
          "mode": "list",
          "cachedResultName": "Auctions",
          "cachedResultUrl": "https://airtable.com/appAFwvoSRiOQc2pP/tblvlBDwuCE7CmThU"
        },
        "filterByFormula": "=SEARCH('{{$json.auction_id}}', {Auction})",
        "options": {}
      },
      "id": "test_4_search",
      "name": "Test 4: SEARCH Function",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        850,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "KqeYloYYVZeNChgU",
          "name": "Airtable"
        }
      },
      "notes": "Using SEARCH function as an alternative\nNote the \"=\" prefix to force expression mode"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Sample Auction ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sample Auction ID": {
      "main": [
        [
          {
            "node": "Test 1: Fixed Value",
            "type": "main",
            "index": 0
          },
          {
            "node": "Test 2: Expression with Field Name",
            "type": "main",
            "index": 0
          },
          {
            "node": "Test 3: Field ID (Doesn't Work)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Test 4: SEARCH Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "3635abe9-6ae2-4dd2-881f-f45fe175dad6",
  "id": "m4UyhOBLnV7y1Uyr",
  "staticData": null,
  "meta": null,
  "pinData": null,
  "createdAt": "2025-03-20T23:46:46.137Z",
  "updatedAt": "2025-03-20T23:46:46.137Z",
  "triggerCount": 0
}