tests/mcp/airtable-linked-fields-debug.json
{
  "name": "Airtable Linked Fields Debug",
  "nodes": [
    {
      "parameters": {},
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "include": "all",
        "assignments": {
          "assignments": [
            {
              "name": "auction_id",
              "type": "string",
              "value": "24-10-onondaga-ny"
            }
          ]
        }
      },
      "id": "set_sample_id",
      "name": "Set Sample Auction ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "search",
        "application": "airtable",
        "base": {
          "__rl": true,
          "value": "appWxxzsTHMY0MZHu",
          "mode": "list",
          "cachedResultName": "Tax Surplus",
          "cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu"
        },
        "table": {
          "__rl": true,
          "value": "tblteK8SeHqZ8xQxV",
          "mode": "list",
          "cachedResultName": "Auctions",
          "cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu/tblteK8SeHqZ8xQxV"
        },
        "filterByFormula": "={Auction} = '{{$json.auction_id}}'",
        "options": {}
      },
      "id": "get_auction",
      "name": "Get Auction Details",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        650,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "KqeYloYYVZeNChgU",
          "name": "Airtable"
        }
      },
      "notes": "Gets the auction details by auction ID using a search operation"
    },
    {
      "parameters": {},
      "id": "debug_auction",
      "name": "Debug Auction Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        850,
        200
      ],
      "notes": "View the JSON output of the auction details to see the structure - especially notice that the \"County\" field contains an array of record IDs"
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "search",
        "application": "airtable",
        "base": {
          "__rl": true,
          "value": "appWxxzsTHMY0MZHu",
          "mode": "list",
          "cachedResultName": "Tax Surplus",
          "cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu"
        },
        "table": {
          "__rl": true,
          "value": "tblgJ8IbhYrpIqXq4",
          "mode": "list",
          "cachedResultName": "Counties",
          "cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu/tblgJ8IbhYrpIqXq4"
        },
        "filterByFormula": "={County} = '{{$node[\"Get Auction Details\"].json.County[0]}}'",
        "options": {}
      },
      "id": "county_incorrect",
      "name": "INCORRECT: Get County by Search",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        850,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "KqeYloYYVZeNChgU",
          "name": "Airtable"
        }
      },
      "notes": "THIS APPROACH IS INCORRECT - It tries to search for a county where the County field equals the record ID, which will not work"
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "get",
        "application": "airtable",
        "base": {
          "__rl": true,
          "value": "appWxxzsTHMY0MZHu",
          "mode": "list",
          "cachedResultName": "Tax Surplus",
          "cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu"
        },
        "table": {
          "__rl": true,
          "value": "tblgJ8IbhYrpIqXq4",
          "mode": "list",
          "cachedResultName": "Counties",
          "cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu/tblgJ8IbhYrpIqXq4"
        },
        "id": "={{$node[\"Get Auction Details\"].json.County[0]}}",
        "options": {}
      },
      "id": "county_correct",
      "name": "CORRECT: Get County by Record ID",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        850,
        450
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "KqeYloYYVZeNChgU",
          "name": "Airtable"
        }
      },
      "notes": "THIS APPROACH IS CORRECT - It uses the \"get\" operation with the record ID directly to fetch the county record"
    },
    {
      "parameters": {},
      "id": "debug_counties",
      "name": "Debug County Outputs",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ],
      "notes": "Compare the outputs from the incorrect and correct approaches"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Sample Auction ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sample Auction ID": {
      "main": [
        [
          {
            "node": "Get Auction Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Auction Details": {
      "main": [
        [
          {
            "node": "Debug Auction Output",
            "type": "main",
            "index": 0
          },
          {
            "node": "INCORRECT: Get County by Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "CORRECT: Get County by Record ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INCORRECT: Get County by Search": {
      "main": [
        [
          {
            "node": "Debug County Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CORRECT: Get County by Record ID": {
      "main": [
        [
          {
            "node": "Debug County Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "8463f288-7f83-47d7-a539-b477804b1309",
  "id": "0bWBrlNWrIddNpqY",
  "staticData": null,
  "meta": null,
  "pinData": null,
  "createdAt": "2025-03-21T01:12:32.712Z",
  "updatedAt": "2025-03-21T01:12:32.712Z",
  "triggerCount": 0
}