tests/mcp/airtable-field-name-test-workflow.json
{
  "name": "Airtable Field Name vs ID Test",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "id": "06f32223-9066-4c47-a89e-d4bf36351b04"
    },
    {
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "include": "all",
        "assignments": {
          "assignments": [
            {
              "name": "auction_id",
              "type": "string",
              "value": "24-10-onondaga-ny"
            }
          ]
        }
      },
      "name": "Set Sample Auction ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        450,
        300
      ],
      "id": "28e56419-e1f5-4057-87ad-f9f9756605e4"
    },
    {
      "parameters": {
        "operation": "search",
        "resource": "record",
        "application": "airtable",
        "base": {
          "__rl": true,
          "value": "appWxxzsTHMY0MZHu",
          "mode": "list",
          "cachedResultName": "Tax Surplus",
          "cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu"
        },
        "table": {
          "__rl": true,
          "value": "tblteK8SeHqZ8xQxV",
          "mode": "list",
          "cachedResultName": "Auctions",
          "cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu/tblteK8SeHqZ8xQxV"
        },
        "filterByFormula": "{fld7zoOS3uQg4tiyh} = '{{$json.auction_id}}'",
        "options": {}
      },
      "name": "Test 1: Using Field ID",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        650,
        200
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "KqeYloYYVZeNChgU",
          "name": "Airtable"
        }
      },
      "notes": "This node attempts to search using the field ID: fld7zoOS3uQg4tiyh\nThis approach doesn't work because Airtable formulas expect field names, not IDs",
      "id": "e0639489-70f9-4f61-9d81-33ed91d0b4dd"
    },
    {
      "parameters": {
        "operation": "search",
        "resource": "record",
        "application": "airtable",
        "base": {
          "__rl": true,
          "value": "appWxxzsTHMY0MZHu",
          "mode": "list",
          "cachedResultName": "Tax Surplus",
          "cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu"
        },
        "table": {
          "__rl": true,
          "value": "tblteK8SeHqZ8xQxV",
          "mode": "list",
          "cachedResultName": "Auctions",
          "cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu/tblteK8SeHqZ8xQxV"
        },
        "filterByFormula": "{Auction} = '{{$json.auction_id}}'",
        "options": {}
      },
      "name": "Test 2: Using Field Name",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        650,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "KqeYloYYVZeNChgU",
          "name": "Airtable"
        }
      },
      "notes": "This node searches using the field name: Auction\nThis approach works because Airtable formulas expect field names, not IDs",
      "id": "c41d244a-aca5-48e8-90a7-dc47bbafcdef"
    },
    {
      "parameters": {
        "operation": "search",
        "resource": "record",
        "application": "airtable",
        "base": {
          "__rl": true,
          "value": "appWxxzsTHMY0MZHu",
          "mode": "list",
          "cachedResultName": "Tax Surplus",
          "cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu"
        },
        "table": {
          "__rl": true,
          "value": "tblteK8SeHqZ8xQxV",
          "mode": "list",
          "cachedResultName": "Auctions",
          "cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu/tblteK8SeHqZ8xQxV"
        },
        "filterByFormula": "{Auction} = '{{$json.auction_id}}'",
        "options": {}
      },
      "name": "Test 3: Using Helper Method",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        650,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "KqeYloYYVZeNChgU",
          "name": "Airtable"
        }
      },
      "notes": "This node uses the helper method createFilterFormula() to generate the formula\nThis is the recommended approach as it handles the field name lookup for you",
      "id": "081e2e50-2855-459e-920c-d8d6292068bf"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Sample Auction ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sample Auction ID": {
      "main": [
        [
          {
            "node": "Test 1: Using Field ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Test 2: Using Field Name",
            "type": "main",
            "index": 0
          },
          {
            "node": "Test 3: Using Helper Method",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "8dac74dc-9827-479d-b27c-3103f9505fe9",
  "id": "Ot5jxtYqO8EEJ4J5",
  "staticData": null,
  "meta": null,
  "pinData": null,
  "createdAt": "2025-03-20T23:26:41.882Z",
  "updatedAt": "2025-03-20T23:26:41.882Z",
  "triggerCount": 0
}