workflows/routers/auctions.json
{
	"name": "ROUTER: Auctions",
	"nodes": [
		{
			"name": "Schedule Trigger",
			"type": "n8n-nodes-base.scheduleTrigger",
			"typeVersion": 1,
			"position": [250, 300],
			"parameters": {
				"triggerTimes": {
					"item": [
						{
							"hour": 7,
							"minute": 0
						}
					]
				}
			},
			"id": "schedule_trigger",
			"notes": "Triggers daily at 7:00 AM to check for auctions with Surplus List data ready for processing."
		},
		{
			"name": "Get Auctions with Surplus List",
			"type": "n8n-nodes-base.airtable",
			"typeVersion": 2,
			"position": [450, 300],
			"parameters": {
				"resource": "record",
				"operation": "search",
				"application": "airtable",
				"base": {
					"__rl": true,
					"value": "appWxxzsTHMY0MZHu",
					"mode": "list",
					"cachedResultName": "Tax Surplus",
					"cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu"
				},
				"table": {
					"__rl": true,
					"value": "tblteK8SeHqZ8xQxV",
					"mode": "list",
					"cachedResultName": "Auctions",
					"cachedResultUrl": "https://airtable.com/appWxxzsTHMY0MZHu/tblteK8SeHqZ8xQxV"
				},
				"filterByFormula": "AND(NOT({Surplus List}=''),{Foreclosures}='')",
				"options": {
					"downloadFields": ["Surplus List"]
				}
			},
			"id": "airtable_query",
			"credentials": {
				"airtableTokenApi": {
					"id": "KqeYloYYVZeNChgU",
					"name": "Airtable"
				}
			},
			"notes": "Queries Airtable for auctions that have a Surplus List but don't have any Foreclosures created yet. Downloads the Surplus List attachments."
		},
		{
			"name": "Process Each Auction",
			"type": "n8n-nodes-base.function",
			"typeVersion": 1,
			"position": [650, 300],
			"parameters": {
				"functionCode": "// Process each auction with Surplus List\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const record = item.json;\n  const fields = record.fields || {};\n  \n  // Verify Surplus List exists and Foreclosures is empty\n  if (fields[\"Surplus List\"] && fields[\"Surplus List\"].length > 0 && \n      (!fields[\"Foreclosures\"] || fields[\"Foreclosures\"].length === 0)) {\n    \n    const timestamp = new Date().toISOString();\n    const surplusList = fields[\"Surplus List\"];\n    const attachment = surplusList[0]; // Get the first attachment\n    \n    // Extract binary data\n    let pdfBinary = null;\n    const binaryKeys = Object.keys(item.binary || {});\n    \n    // Look through binary data for the PDF\n    for (const key of binaryKeys) {\n      // If we find a PDF file that matches our attachment filename\n      if (item.binary[key] && \n          item.binary[key].fileName === attachment.filename && \n          item.binary[key].mimeType === 'application/pdf') {\n        pdfBinary = item.binary[key];\n        break;\n      }\n    }\n    \n    results.push({\n      json: {\n        recordId: record.id,\n        auctionName: fields[\"Auction Name\"] || \"Unknown Auction\",\n        county: fields[\"County\"] ? fields[\"County\"][0] : \"Unknown County\",\n        surplusList: surplusList,\n        attachment: attachment,\n        message: `Surplus List found for auction at ${timestamp}`,\n        action: 'process_surplus_list'\n      },\n      binary: pdfBinary ? { pdf: pdfBinary } : undefined\n    });\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { message: \"No auctions found with surplus lists\" } }];"
			},
			"id": "process_function",
			"notes": "Processes each auction that has a Surplus List but no Foreclosures yet. Extracts attachment information and prepares binary data for PDF processing."
		},
		{
			"name": "Extract PDF Text",
			"type": "n8n-nodes-base.extractFromFile",
			"typeVersion": 1,
			"position": [850, 300],
			"parameters": {
				"operation": "pdfToText",
				"binaryPropertyName": "pdf",
				"options": {
					"keepSource": "both",
					"joinPages": true
				}
			},
			"id": "extract_pdf",
			"notes": "Extracts the text content from the PDF attachment using n8n's built-in PDF extraction capabilities."
		},
		{
			"name": "Parse PDF Content",
			"type": "n8n-nodes-base.function",
			"typeVersion": 1,
			"position": [1050, 300],
			"parameters": {
				"functionCode": "// Get the PDF text content\nconst pdfText = $input.item.json.text || '';\n\n// Create regular expressions for the data we want to extract\nconst parcelRegex = /Parcel(?:ID|\\s#|\\sNumber)?:?\\s*([A-Z0-9-]+)/i;\nconst addressRegex = /(\\d+\\s+[^,\\n]+(?:[,\\s]+[^,\\n]+){1,3})/i;\nconst ownerRegex = /Owner(?:'s)?\\s*Name:?\\s*([^\\n]+)/i;\nconst amountRegex = /\\$\\s*(\\d{1,3}(?:,\\d{3})*\\.?\\d*)/;\n\n// Function to extract data using regex\nfunction extractWithRegex(text, regex) {\n  const match = text.match(regex);\n  return match ? match[1].trim() : null;\n}\n\n// Process each page of text\nconst lines = pdfText.split('\\n');\nconst foreclosures = [];\nlet currentForeclosure = {};\n\nfor (const line of lines) {\n  // Check for a parcel ID - usually indicates a new property\n  const parcelMatch = line.match(parcelRegex);\n  if (parcelMatch) {\n    // If we have data for the previous property, save it\n    if (currentForeclosure.parcelId) {\n      foreclosures.push({...currentForeclosure});\n    }\n\n    // Start a new property\n    currentForeclosure = {\n      parcelId: parcelMatch[1].trim(),\n      auctionId: $input.item.json.recordId,\n      auctionName: $input.item.json.auctionName,\n      county: $input.item.json.county\n    };\n  }\n\n  // Extract other details\n  if (!currentForeclosure.address) {\n    const addressMatch = line.match(addressRegex);\n    if (addressMatch) {\n      currentForeclosure.address = addressMatch[1].trim();\n    }\n  }\n\n  if (!currentForeclosure.owner) {\n    const ownerMatch = line.match(ownerRegex);\n    if (ownerMatch) {\n      currentForeclosure.owner = ownerMatch[1].trim();\n    }\n  }\n\n  if (!currentForeclosure.amount) {\n    const amountMatch = line.match(amountRegex);\n    if (amountMatch) {\n      currentForeclosure.amount = amountMatch[1].trim();\n    }\n  }\n}\n\n// Don't forget the last property\nif (currentForeclosure.parcelId) {\n  foreclosures.push({...currentForeclosure});\n}\n\n// Return all foreclosures found\nreturn {\n  json: {\n    auctionId: $input.item.json.recordId,\n    auctionName: $input.item.json.auctionName,\n    county: $input.item.json.county,\n    foreclosuresCount: foreclosures.length,\n    foreclosures: foreclosures\n  }\n};"
			},
			"id": "parse_pdf",
			"notes": "Parses the extracted PDF text to identify foreclosure information including parcel IDs, addresses, owners, and amounts."
		},
		{
			"name": "Create CSV File",
			"type": "n8n-nodes-base.spreadsheetFile",
			"typeVersion": 1,
			"position": [1250, 300],
			"parameters": {
				"operation": "toFile",
				"options": {
					"headerRow": true,
					"fileFormat": "csv"
				},
				"sourceData": "={{$json.foreclosures}}",
				"binaryPropertyName": "data",
				"options": {
					"fileName": "={{\"surplus-foreclosures-\" + $json.auctionId + \".csv\"}}"
				}
			},
			"id": "create_csv",
			"notes": "Creates a CSV file containing the extracted foreclosure information for further processing or review."
		},
		{
			"name": "Workflow Complete",
			"type": "n8n-nodes-base.noOp",
			"typeVersion": 1,
			"position": [1450, 300],
			"parameters": {
				"description": "End of the workflow. The extracted foreclosure data is now available as a CSV file."
			},
			"id": "no_op",
			"notes": "Workflow complete. In a production implementation, additional steps could include creating foreclosure records in Airtable, sending notifications, or triggering other processes."
		}
	],
	"pinData": {},
	"connections": {
		"Schedule Trigger": {
			"main": [
				[
					{
						"node": "Get Auctions with Surplus List",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get Auctions with Surplus List": {
			"main": [
				[
					{
						"node": "Process Each Auction",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Process Each Auction": {
			"main": [
				[
					{
						"node": "Extract PDF Text",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Extract PDF Text": {
			"main": [
				[
					{
						"node": "Parse PDF Content",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Parse PDF Content": {
			"main": [
				[
					{
						"node": "Create CSV File",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Create CSV File": {
			"main": [
				[
					{
						"node": "Workflow Complete",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"active": false,
	"settings": {
		"executionOrder": "v1"
	},
	"id": "TYI9aehJQl3PGEcH",
	"meta": {
		"instanceId": "4dba8cd386ae3944b2fc7eaa8a1fd4bf66504415151768c62f3b476b5123f76d"
	},
	"tags": []
}
